<div class="container">
        <div class="header">
                <h4 class="title"> Terms & Conditions</h4>
                <p class="category">Edit terms and conditions
                </p>

                    <textarea [(ngModel)]="term_text" name="privacy_text" value="{{terms?.text}}" type="text" id="form8" class="my_textarea" row="20"></textarea>

                <!-- <button type="button" (click)="addTerm(term_text)" style="float: right !important" color="link">Enter</button> -->
</div>

<!-- <p>privacy works!</p> -->
