<div class="container">
        <div class="header">
                <h4 class="title"> Privacy Policy</h4>
                <p class="category">Edit privacy policy
                </p>

                    <!-- <textarea [(ngModel)]="privacy_text" name="privacy_text" value="{{privacy?.text}}" type="text" id="form8" class="my_textarea" row="20"></textarea>

                <button type="button" (click)="addPrivacy(privacy_text)" style="float: right !important" color="link">Enter</button> -->
</div>