<!-- <div class="container">
  <div class="row">
    <div class="col-lg-8">
     <div style="height: 400px; width: 100%;"  class="backgrnd" [style.background-image] = "website_featured_image ? 'url('+website_featured_image+')' : 'url('+website_featured_image_old?.image+')'">
      <div class="shadow">
          <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
        <div class="upload-btn-wrapper">
          <button class="btn"> Featured Image</button>
          <input type="file" (change)="uploadFeaturedImage($event)" name="myfile" />
        </div>
      </div>
     </div>
    </div>
    <div class="col-lg-4">
      <div style="height: 400px; width: 100%;" class="backgrnd" [style.background-image] = "front_page_image_lg ? 'url('+front_page_image_lg+')' : 'url('+front_page_image_lg_old?.image+')'">
        <div class="shadow" style="text-align: center !important">
            <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
          <div class="upload-btn-wrapper2">
            <button class="btn"> Display Front Image (Large)</button>
            <input type="file" (change)="uploadFrontImageLg($event)" name="myfile" />
          </div>
        </div>
       </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4">
          <div style="height: 400px; width: 100%;" class="backgrnd" [style.background-image] = "front_page_image_md ? 'url('+front_page_image_md+')' : 'url('+front_page_image_md_old?.image+')'">
            <div class="shadow" style="text-align: center !important">
                <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
              <div class="upload-btn-wrapper2">
                <button class="btn"> Display Front Image (Medium)</button>
                <input type="file" (change)="uploadFrontImageMd($event)" name="myfile" />
              </div>
            </div>
           </div>
        </div>
    <div class="col-lg-8">
     <div style="height: 400px; width: 100%;"  class="backgrnd" [style.background-image] = "menu_featured_image ? 'url('+menu_featured_image+')' : 'url('+menu_featured_image_old?.image+')'">
      <div class="shadow">
          <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
        <div class="upload-btn-wrapper">
          <button class="btn"> Menu Featured Image</button>
          <input type="file" (change)="uploadMenuFeaturedImage($event)" name="myfile" />
        </div>
      </div>
     </div>
    </div>

  </div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
          <div style="height: 300px; width: 100%;" class="backgrnd" [style.background-image]= "spring_summer_image ? 'url('+spring_summer_image+')' : 'url('+spring_summer_image_old?.image+')'">
            <div class="shadow" style="text-align: center !important">
                <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
              <div class="upload-btn-wrapper3">
                <button class="btn">Spring Summer 1</button>
                <input type="file" (change)="uploadSpringSummer($event)" name="myfile" />
              </div>
            </div>
           </div>
        </div>
    <div class="col-lg-6 col-sm-12">
      <div style="height: 300px; width: 100%;"  class="backgrnd" [style.background-image] = "spring_summer_image2 ? 'url('+spring_summer_image2+')' : 'url('+spring_summer_image2_old?.image+')'">
       <div class="shadow">
           <img *ngIf="loading" src="../../assets/spinner.gif" class="loading">
         <div class="upload-btn-wrapper3">
           <button class="btn">Spring Summer 2</button>
           <input type="file" (change)="uploadSpringSummer2($event)" name="myfile" />
         </div>
       </div>
      </div>
     </div>
  </div>
</div> -->