<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a  routerLink="/privacy">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a routerLink="/return">
                        Return Policy
                    </a>
                </li>
                <li>
                    <a routerLink="/terms">
                        Terms & Conditions
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://malonglobaltech.com">Malon Global Tech</a>.
        </p>
    </div>
</footer>
